{% extends 'academic/base_generic.html' %}
{% block title %}Edit course{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-header">Edit course</div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data" novalidate>
          {% csrf_token %}
          {% include 'academic/_form_fields.html' %}
          <button class="btn btn-primary" type="submit">Save changes</button>
          <a class="btn btn-link" href="{% url 'manage_courses' %}">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
